# Server
PORT=3000

# PostgreSQL (inventory_db)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Yadav@7457
DB_NAME=inventory_db

# JWT (admin auth)
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRES_IN=7d
